body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    font-size: xx-large;
    color: black;
    text-decoration: none;
}
